/**
 * styles.css
 *
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

p.italic {font-style:italic;}

p
{
    font-size:1em;
    font-family: arvo;
} 

h3
{
    font-size:1.5em;
    font-family: arvo;
} 

ul.tagit {
    width: 50%;
    position:relative;
    left:25%;
}

#box-table-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#box-table-a th
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
}
#box-table-a td
{
    padding: 8px;
    background: #e8edff; 
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
    background: #d0dafd;
    color: #339;
}

html, body 
{
    background-color: #cddadf;
    background-image: -webkit-gradient(radial,50% 50%,0,50% 50%,200,from(#cddadf),to(#f9fafb));
    background-image: -webkit-radial-gradient(50% 50%,#f9fafb,#cddadf);
    background-image: -moz-radial-gradient(50% 50%,#f9fafb,#cddadf);
    background-image: -o-radial-gradient(50% 50%,#f9fafb,#cddadf);
    background-image: -ms-radial-gradient(50% 50%,#f9fafb,#cddadf);
    background-image: radial-gradient(50% 50%,#f9fafb,#cddadf);
    background-repeat: no-repeat;
    min-height: 100%;
}






